<header class="flex justify-between items-center px-4 py-2 bg-white shadow">
  <div class="text-2xl font-bold text-red-700 flex items-center gap-2 font-aoboshi">
    <img src="Logo.png" alt="logo" class="w-6 h-8"> Tododolix
  </div>
  <nav class="flex gap-4 items-center text-sm">
    <a routerLink="/tasks" routerLinkActive="font-bold underline">Tasks</a>
    <a routerLink="/archive" routerLinkActive="font-bold underline">Archive</a>
    <a routerLink="/howtouse" routerLinkActive="font-bold underline">How to use</a>
  </nav>
</header>
<main class="p-4">
  <router-outlet></router-outlet>
</main>
<div>
  <div>
  </div>
  <app-todo></app-todo>
</div>

